@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';


html{
    scroll-behavior: smooth;
}


.shimmer {
  position: relative;
  overflow: hidden;
  background: #e5e7eb; /* gray-200 */
}

.shimmer::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}